.about {
    margin-bottom: 120px;
    border-radius: 15px;
    overflow: hidden;
    @media(max-width: 580px) {
        margin-bottom: 50px;
    }
    &__banner {
        border-radius: 15px 15px 0 0;
        width: 100%;
        position: relative;
        top: 4px;
        object-fit: cover;
        object-position: center;

        @media (max-width: 767px) {
            height: 440px;
        }

        @media (max-width: 480px) {
            height: 325px;
        }

        @media (max-width: 320px) {
            height: 290px;
        }
    }

    &__section {
        padding: 120px 30px 60px;
        @media (max-width: 767px) {
            padding: 45px 15px 55px;
        }
    }

    &__title {
        text-align: center;
        font-weight: 400;
        font-size: 48px;
        font-family: "Tenor Sans";
        margin-bottom: 35px;
        @media (max-width: 767px) {
            font-size: 36px;
            margin-bottom: 30px;
        }
    }

    &__title_this {
        @media (max-width: 767px) {
            text-align: left;
        }
    }

    &__benefit {
        display: grid;
        grid-template-columns: repeat(auto-fit, 211px);
        gap: 10px;
        justify-content: space-between;
        max-width: 850px;
        margin: 0 auto;
        img {
            height: 232px;
            width: 100%;
            object-fit: contain;
            margin-bottom: 14px;
            transform: translateX(-10px);
            @media (max-width: 560px) {
                height: 198px;
            }
        }
        p {
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            @media (max-width: 560px) {
                font-size: 16px;
                line-height: 22px;
            }
        }

        @media (max-width: 820px) {
            grid-template-columns: repeat(auto-fit, 200px);
        }

        @media (max-width: 767px) {
            gap: 22px 50px;
            justify-content: center;
        }
    }

    &__this {
        max-width: 850px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
        }

        @media (max-width: 767px) {
            gap: 20px;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px 30px;
            border-radius: 15px;
            background-color: white;
            @media (max-width: 1024px) {
                justify-content: initial;
            }
            @media (max-width: 560px) {
                padding: 25px 10px 25px 16px;
            }
        }
        img {
            width: 70px;
            height: 70px;
            margin-right: 20px;
            @media (max-width: 767px) {
                width: 40px;
                height: 40px;
                margin-right: 14px;
            }
        }
        p {
            font-weight: 400;
            font-size: 17px;
            line-height: 24px;
            @media (max-width: 767px) {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }

    &__trust {
        max-width: 850px;
        margin: 0 auto;
        display: block;
        width: 100%;
    }

    &__create {
        max-width: 850px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 271px);
        justify-content: space-between;
        gap: 59px;
        @media (max-width: 1290px) {
            grid-template-columns: repeat(auto-fit, 271px);
            justify-content: center;
            gap: 25px 50px;
        }

        @media(max-width: 655px) {
            justify-content: initial;
            gap: 35px
        }
        mark {
            border-radius: 50px;
            background-color: #ffaf35;
            color: white;
            padding: 7px 14px;
            font-size: 21px;
            line-height: 25px;
            margin-bottom: 9px;
            display: block;
            width: max-content;
        }

        img {
            border-radius: 25px;
            width: 180px;
            height: 180px;
            margin-bottom: 25px;
            display: block;
        }

        h4 {
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 13px;
        }
        p {
            font-size: 15px;
            line-height: 21px;
        }
    }
}
