.menu {
  display: flex;
  flex-wrap: wrap;
  @media(max-width: 1100px) {

  }

  &__item {
    margin-right: 30px;
    @media(max-width: 1100px) {
      margin-right: 0;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    display: inline-block;
    a {
      &:hover {
        color: $red;
      }
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__item_dropdown {
    position: relative;
    > a {
      display: block;
      width: 130%;
    }

    @media (min-width: 1101px) {
      &:hover {
        .menu__expand {
          opacity: 1;
          visibility: visible;
          
        }

        &::after {
          transform: rotate(45deg);
          background-color: $red;
        }

        &::before {
          transform: rotate(-45deg);
          background-color: $red;
        }
        > a {
          color: $red;
        }
      }
      &::after,
      &::before {
        position: absolute;
        top: 8px;
        content: "";
        width: 7px;
        height: 2px;
        background-color: #333333;
        transition: transform 0.25s ease-in-out;
        cursor: pointer;
      }
      &::after {
        right: -15px;
        transform: rotate(-45deg);
      }

      &::before {
        right: -11px;
        transform: rotate(45deg);
      }
    }
  }
  @media (min-width: 1101px) {
    &__expand {
      padding-top: 10px;
      z-index: 9;
      position: absolute;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
    }

    &__list-dropdown {
      padding: 22px 20px;
      box-shadow: 0px 4px 20px rgb(51 51 51 / 10%);
      border-radius: 6px;
      min-width: 190px;
      background-color: white;
      li {
        margin-bottom: 23px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      a {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        &:hover {
          color: #bc1616;
        }
      }
    }
  }
  
}
