.order {
  .form__title {
    font-family: "Tenor Sans";
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 23px;
  }

  .counter {
    height: 40px;
  }

  .cart__delete {
    justify-self: end;
  }

  &__item {
    display: grid;
    grid-template-columns: max-content 160px 80px 80px 1fr;
    gap: 20px;
    align-items: center;
  }

  &__photo {
    width: 70px;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 8px 4px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__name {
    h3 {
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
    }
    p {
      font-size: 13px;
      line-height: 16px;
      color: rgba(51, 51, 51, 0.5);
      margin-top: 6px;
    }
  }

  &__item-price {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
  }

  &__label {
    font-size: 15px;
    line-height: 18px;
    display: block;
    color: rgba(51, 51, 51, 0.5);

    .req {
      color: $red;
    }

    margin-bottom: 7px;
  }

  .form__row,
  .select {
    margin-bottom: 23px;
  }

  .select {
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 6px;
  }

  .select__list {
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-top: none;
    left: -1px;
    width: calc(100% + 2px);
  }

  .select__option {
  }

  .select__btn {
    padding: 16px 21px;
    justify-content: space-between;
    width: 100%;
  }

  .select__link {
    text-align: left;
    padding-left: 21px;
  }

  .select.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__export {
    background: #eff6ff;
    border-radius: 6px;
    max-width: 488px;
    padding: 16px 18px;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 25px;
  }

  &__total {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      font-weight: 600;
      font-size: 21px;
      line-height: 25px;
    }
  }

  @media (max-width: 767px) {
    &__item {
      grid-template-columns: 70px max-content 1fr max-content;
      align-items: center;
    }

    &__photo {
      width: 70px;
      grid-column: 1/2;
      grid-row: 1/3;
      align-self: flex-start;
    }

    &__name {
      grid-column: 2/5;
    }

    .counter {
      width: 80px;
    }

    .form__title {
      font-size: 30px;
      line-height: 34px;
      text-align: center;
    }

    .form__row {
      max-height: 50px;
    }

    &__export {
      font-size: 13px;
      line-height: 20px;
      padding: 12px;
    }
  }

  @media(max-width: 480px) {
    &__total {
      flex-direction: column;
      align-items: initial;
      p {
        margin-bottom: 8px;
      }
    }
  }

  @media(max-width: 374px) {
    .counter {
      width: 70px;
    }
  }
}

.order-swiper {
  border-radius: 15px;
  background-color: white;
  padding: 40px 60px;
  max-height: 90vh;

  .swiper-scrollbar {
    width: 3px;
  }

  @media (max-width: 767px) {
    width: 90vw;
    padding: 40px calc(15px + (45 + 45 * 0.7) * ((100vw - 375px) / 767));
  }

  @media(max-width: 374px) {
    width: 95vw;
  }
}
