.personal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 375px));
    gap: 30px;

    &__item {
        background: #ffffff;
        border-radius: 15px;
        overflow: hidden;
        padding-bottom: 26px;

        > *:not(.personal img) {
            margin-left: 45px;
            margin-right: 45px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-top: 27px;
        margin-bottom: 7px;
    }

    &__post,
    &__messangers p {
        font-size: 14px;
        line-height: 17px;
        color: #333333;
        opacity: 0.5;
    }

    &__phone {
        display: flex;
        align-items: center;
        &::before {
            content: "";
            background-image: url(../img/icons/icons.svg#phone);
            width: 15px;
            height: 15px;
            background-size: 15px 15px;
            background-repeat: no-repeat;
            margin-right: 7px;
        }
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-top: 28px;
        margin-bottom: 9px;
    }

    &__email {
        margin-top: 9px;
        margin-bottom: 29px;
    }

    &__email-hide {
        font-size: 15px;
        line-height: 18px;
        padding-bottom: 2px;
        border-bottom: 1px dotted #60a5fa;
        color: #60a5fa;

        &:hover {
            cursor: pointer;
            border-bottom: 1px dotted $red;
            color: $red;
        }
    }

    &__email-show {
        display: none;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    &__messangers {

        p {
            margin-bottom: 8px;
        }
    }

    &__social {
    }
}
