.select {
  background-color: white;
  border-radius: 9px;
  overflow: hidden;
  position: relative;
  @media (max-width: 560px) {
    font-size: 15px;
    line-height: 18px;
  }

  &.select_empty {
    padding: 11px 17px;
  }

  &.open {
    overflow: initial;
    .select__list {
      opacity: 1;
      visibility: visible;
    }

    .select__btn {
      span {
        &::before {
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }
      }
    }

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__btn {
    padding: 11px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 560px) {
      padding: 10px;
    }
    &:hover {
      cursor: pointer;
    }
    span {
      position: relative;
      margin-left: 20px;
      &::after,
      &::before {
        position: absolute;
        content: "";
        width: 8px;
        height: 1.5px;
        background-color: rgba(51, 51, 51, 0.5);
        top: 0;

        transition: transform 0.25s ease-in-out;
      }

      &::before {
        right: 5px;
        transform: rotate(45deg);
        z-index: 1;
      }

      &::after {
        right: 0;
        z-index: 2;
        transform: rotate(-45deg);
      }
    }
  }
  &__list {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 100%;
    left: 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    z-index: 999;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__option {
    width: 100%;
    display: block;

    &:hover {
      .select__link {
        color: $red;
        white-space: nowrap;
      }
    }

    input {
      display: none;
    }
  }

  &__link {
    display: block;
    text-align: center;
    width: 100%;
    padding: 11px 17px 11px 0px;
    &:hover {
      cursor: pointer;
    }
  }
}
