.social {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }

    a {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        &:hover {
            background-color: $red;
        }
    }

    &__wa {
        background-color: #29a71a;
        svg {
            width: 19px;
            height: 19px;
        }
    }

    &__vk {
        background-color: #4169e1;
        svg {
            width: 19px;
            height: 11px;
        }
    }

    &__viber {
        background-color: #6f3faa;
        svg {
            width: 18px;
            height: 19px;
        }
    }

    &__message {
        position: relative;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        padding: 10px;
        text-align: center;
        background-color: white;
        border-radius: 7px;
        max-width: 113px;
        &::after {
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            background-color: white;
            top: 40%;
            left: -3px;
            transform: rotate(45deg);
        }
    }
}

.social2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    @media(max-width: 1023px) {
        display: none;
    }

    @media (max-width: 580px) {
        margin-top: 25px;
    }
    li {
        margin-right: 20px;
        margin-bottom: 15px;
        &:last-child {
            margin-right: 0;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            div {
                background: #ffaf35;
            }

            span {
                color: $red;
            }
        }
    }

    div {
        width: 60px;
        border-radius: 50%;
        background: $red;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 28px;
            height: 28px;
        }
    }

    span {
        margin-left: 24px;
        font-size: 36px;
        line-height: 49px;
    }
}
