@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url(../fonts/#{$file_name}.woff2) format("woff2"), url(../fonts/#{$file_name}.woff) format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

$main: #333333;
$red: #e02f2f;

@import "fonts";

@import "normalize";

body {
  font-family: "Museo Sans Cyrl";
}

/* main {
  margin-bottom: 82px;
} */
.page {
  color: $main;
  overflow: hidden;

  &__container {
    margin: 0 auto;
    max-width: 1290px;

    @media (max-width: 1310px) {
      padding: 0 16px;
    }
  }

  &__title {
    font-size: 54px;
    line-height: 88px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Prata";
    font-weight: 400;
    margin: 0 auto 25px;
    word-wrap: break-word;

    @media (max-width: 1220px) {
      font-size: calc(48px + (6 + 6 * 0.7) * ((100vw - 375px) / 1220));
      line-height: calc(60px + (18 + 18 * 0.7) * ((100vw - 375px) / 1220));
    }

    /* @media (max-width: 580px) {
      text-align: left;
    } */
  }
}

/* Контент */
@import "content";

/* Прочее */
@import "other";

/* Меню */
@import "menu";

/* Соц сети */
@import "social";

/* Формы */
@import "forms";

/* Каталог */
@import "catalog";

/* Мы фабрика подарков */
@import "we";

/* Отзывы и благодарности */
@import 'reviews';

/* Шапка */
@import "header";

/* Подвал */
@import "footer";

/* Попапы */
@import "popups";
