@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url(../fonts/#{$file_name}.woff2) format("woff2"),
      url(../fonts/#{$file_name}.woff) format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

$main: #333333;
$red: #e02f2f;

@import "fonts";

@import "normalize";

body {
  font-family: "Museo Sans Cyrl";
}

/* main {
  margin-bottom: 82px;
} */
.page {
  color: $main;
  overflow: hidden;

  &__container {
    margin: 0 auto;
    max-width: 1290px;

    @media (max-width: 1310px) {
      padding: 0 16px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    font-family: "Tenor Sans";
    word-wrap: break-word;

    @media (max-width: 1290px) {
      font-size: calc(48px + (12 + 12 * 0.7) * ((100vw - 375px) / 1290));
      line-height: calc(53px + (11 + 11 * 0.7) * ((100vw - 375px) / 1290));
    }

    /* @media (max-width: 580px) {
      text-align: left;
    } */
  }

  &__top {
    padding: 38px 0 20px;
  }
}

/* Контент */
@import "content";

/* Прочее */
@import "other";

/* Хлебные крошки */
@import "breadcrumbs";

/* Меню (топ, низ) */
@import "menu";

/* Меню (левое) */
@import 'left-menu';

/* Фильтр */
@import 'filter';

/* Контейнер каталога */
@import 'container-catalog';

/* Соц сети */
@import "social";

/* Формы */
@import "forms";

/* Каталог */
@import "catalog";

/* Мы фабрика подарков */
@import "we";

/* Поставщики */
@import "suppliers";

/* Отзывы и благодарности */
@import "reviews";

/* Шапка */
@import "header";

/* Подвал */
@import "footer";

/* Попапы */
@import "popups";
