@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url(../fonts/#{$file_name}.woff2) format("woff2"), url(../fonts/#{$file_name}.woff) format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

$main: #333333;
$red: #e02f2f;

@import "fonts";

@import "normalize";

body {
  font-family: "Museo Sans Cyrl";
}

/* main {
  margin-bottom: 82px;
} */
.page {
  color: $main;
  overflow: hidden;

  &__container {
    margin: 0 auto;
    max-width: 1290px;

    @media (max-width: 1310px) {
      padding: 0 16px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    font-family: "Tenor Sans";
    word-wrap: break-word;

    @media (max-width: 1290px) {
      font-size: calc(48px + (12 + 12 * 0.7) * ((100vw - 375px) / 1290));
      line-height: calc(53px + (11 + 11 * 0.7) * ((100vw - 375px) / 1290));
    }

    @media (max-width: 480px) {
      max-width: 90%;
    }
  }

  &__top {
    padding: 38px 0 20px;
  }

  &__top_new-year {
    position: relative;

    background-image: url(../img/new-year.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 2;
    &::after {
      z-index: -1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(239, 246, 255, 0) 0%, #eff6ff 100%);
    }
  }
}

/* Контент */
@import "content";

/* Прочее */
@import "other";

/* Хлебные крошки */
@import "breadcrumbs";

/* Меню (топ, низ) */
@import "menu";

/* Меню (левое) */
@import "left-menu";

/* Фильтр */
@import "filter";

/* Селекты */
@import "selects";

/* Пагинация */
@import "pagination";

/* Контейнер каталога */
@import "container-catalog";

/* Соц сети */
@import "social";

/* Формы */
@import "forms";

/* Каталог */
@import "catalog";

/* Детальная страница */
@import 'detail';

/* Мы фабрика подарков */
@import "we";

/* Поставщики */
@import "suppliers";

/* Корзина */
@import 'cart';

/* Заказ */
@import 'order';

/* Отзывы и благодарности */
@import "reviews";

/* Шапка */
@import "header";

/* Подвал */
@import "footer";

/* Попапы */
@import "popups";
